@font-face {
  font-family: 'Intro-bold';
  src: url('../font/Intro-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Intro-bold-alt';
  src: url('../font/Intro-Bold-Alt.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Intro-light';
  src: url('../font/Intro-Light.woff') format('woff');
  font-weight: 200;
}

@font-face {
  font-family: 'Intro-regular';
  src: url('../font/Intro-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Intro-regular-alt';
  src: url('../font/Intro-Regular-Alt.woff') format('woff');
  font-weight: 400;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.btn {
  font-family: Intro-regular, sans-serif;
  background: #26ae68;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid#aeaeae;
  display: block;
  position: absolute;
  bottom: 7px;
  left: 7px;
  width: 96%;
}

.router-link {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 16px;
  border: 1px solid#aeaeae;
}